# Node dependencies
node_modules/

# Build output
dist/

# Editor configs
.vscode/
.idea/
vscode/ 

# OS metadata
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archives or backup files
_archive/
